*{
    margin : 0;
    padding : 0;
    box-sizing: inherit;
}

$primary-color : #eee;
$secondary-color: #fbc531;
$text-dark-color : #1d1d1d;
$text-light-color: #fff;

html{
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
}

body{
    box-sizing: border-box;    
}

/*------------------------ JUMBOTRON STYLING -----------------------*/

.jumbotron{
    width: 100%;
    height: 50rem;
    position: relative;
    background-image: url('/images/movie-jumbo.jpg') ;   
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 0;
    margin: 0;
    
    .title{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 4.4rem;
        letter-spacing: 1px;
        font-weight: 400;
        color: #eee;
        text-shadow: 3px 3px 3px #000;
    

          hr{
             background: $text-dark-color;
            }
      }

  

    .head-part{
        position: fixed;
        top:0;
        left:0;   
        padding:1rem;
        background: rgba(255, 255, 255, 0.726);
        width:100%;
        z-index:10;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .main-logo{
            
            width: 20rem;
            height: 5rem;
        }   

       form{
        display: flex;  
        justify-content: space-between; 
        align-items: center;     
        
         .category{
            width: 20rem;
            height: 3rem;
            margin-right: 1rem;
            border: 1px solid $text-dark-color;
            font-size:1.5rem;
        } 
        
       /* ---------------- SEARCHBAR STYLING ------------------------------------------  */

            .searchBox{
                background:#fff;
                border-radius:2rem;
                padding: .5rem 1rem;
                
                .searchBar{
                    background: none;
                    border:none;
                    font-size:1.4rem;
                    outline:none;
                    color:#333;
                    width: 15rem;
                    transition: all linear 0.45s;

                   
                  }
                 .search-icon{
                    background: #fbc531;
                    color:#fff;
                    border-radius: 50%;
                    padding: .7rem;
                    transition: all linear 0.45s;

                    &:hover {
                        transform: rotate(360deg);
                   }

                    }

                }  
    }
  }
} // END OF HEADER PART


.movie_gallery{
    padding:2rem;
    background: $primary-color;
    

        .movie_gallery--title{
            margin-top:4rem;
            display: flex;
            width:30rem;
            justify-content: space-between;
            align-items: center; 

            hr{
                width:4rem;
                background: $text-dark-color;
            }
            h1{
                font-size :2.2rem;
                color: $text-dark-color;

                span{
                    color: $secondary-color;
                }
            }
        }


        .movie-posters-row{
            margin-top: 6rem;

           .movie-poster-column{
             margin-bottom:5rem;
             
                .poster-img{
                    box-shadow: 0 0 7px #1d1d1d;
                    padding: 1rem;
                    width:90%;
                    background: #fff;
                    z-index:-1;
                }

                

           }     //movie-poster-column   
        }        //movie-poster-row
}       //movie-gallery